<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1 style="text-align: center;color: blue">Cooking service</h1>
<div style="text-align: center">
    <div th:if="${#session.getAttribute('att')}">
        <span th:text="${#session.getAttribute('att')}">Test</span>

    </div>
<p><button id="getRecipes">My recipes</button></p>

    <div>
        <LABEL>Recipe adding</LABEL><br>
        Title:
        <input id="titleOfRecipe" type="text" name="title" >
        <br>
        Link:
        <input id="linkOfRecipe" type="text" name="link">
        <input id="userId" name="userId" type="hidden" th:value="${session.userId}">
        <br>
        <a id="addRecipe" href="#">Add recipe</a>

    </div>
</div>
<p><button id="getUsers">List of Users</button></p>
</body>
<script type="text/javascript" th:src="@{../test.js}"></script>
</html>

